<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <div th:replace="headerWykladowca :: headerWykladowca"></div>
</head>
<script th:inline="javascript">
    // Check browser support
    let id = /*[[${session.wykladowcaId}]]*/ 'default';
    let role = /*[[${session.role}]]*/ 'default';
    console.log(id)
    if (id !== 'default' || id!==null || role !=="Wykladowca") {


        /*<![CDATA[*/
        //
    } else {
        window.location.href = "/loggout";
    }
    /*]]>*/
</script>
<body>
<br>
<form method="POST" action="#" th:action="@{/projektDodajStudentList}" id="searchform">
    <label for="fname">Nazwa:</label>
    <input type="hidden" name="projektId" th:value="${projektId}"><br>
    <input type="number" id="fname" name="nrIndeksu"><br><br>
    <input type="submit" value="Dodaj">
</form>
<br>
<table>
    <thead>
    <tr>
        <th> LP.</th>
        <th> Id </th>
        <th> Imie </th>
        <th> Nazwisko </th>
        <th> Nr Indeksu </th>
        <th> Email </th>
        <th> Stacjonarny </th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${studenci}">
        <td colspan="6"> Nie dodano studenta </td>
    </tr>
    <tr th:each="student, iterator :  ${studenci}">
        <td><span th:text="${iterator.index+1}"> LP. </span></td>
        <td><span th:text="${student.getStudentId()}"> Id </span></td>
        <td><span th:text="${student.getImie()}"> Imie </span></td>
        <td><span th:text="${student.getNazwisko()}"> Nazwisko </span></td>
        <td><span th:text="${student.getNrIndeksu()}"> Nr Indeksu </span></td>
        <td><span th:text="${student.getEmail()}"> Email </span></td>
        <td><span th:text="${student.isStacjonarny()}"> Stacjonarny </span></td>

    </tr>
    </tbody>
</table>
<br>
<form method="get" action="#" th:action="@{/studentList/changePage}" id="previousForm">
    <input name="nazwa" type="hidden" th:value="${nazwa}">
    <input name="size" type="hidden" th:value="${size}">
    <input name="page" type="hidden" th:value="${previousPage}">
    <input th:if="${page>0}" type="submit" value="Poprzednia">
</form>
<form method="get" action="#" th:action="@{/studentList/changePage}" id="nextForm">
    <input name="nazwa" type="hidden" th:value="${nazwa}">
    <input name="size" type="hidden" th:value="${size}">
    <input name="page" type="hidden" th:value="${nextPage}">
    <input type="submit" value="Następna">
</form>
</body>
</html>