<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <div th:replace="header :: myHeader"></div>
</head>
<body>
</br>
<form method="get" action="#" th:action="@{/projektList}" id="anulujForm">
    <input type="submit" value="Anuluj">
</form>

<form method="post" action="#" th:action="@{/projektDodaj}" id="dodajForm">
    </br>
    <label for="fname">Nazwa:</label>
    </br>
    <input type="text" id="fname" name="nazwa">
    <br><br>
    <label for="fopis">Opis:</label>
    </br>
    <textarea name="opis" id="fopis" form="dodajForm">Treść opisu dodaj tutaj</textarea>
    <br><br>
    <label for="fdataOddania">Data:</label>
    </br>
    <input type="date" id="fdataOddania" name="dataOddania">
    <br><br>
    <input type="submit" value="Dodaj">
</form>
</body>
</html>