<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action="#" th:action="@{/projektList}" id="anulujForm">
    <input type="submit" value="Cancel">
</form>

<form method="post" action="#" th:action="@{/projektDodaj}" id="dodajForm">
    <label for="fname">Nazwa:</label>
    <input type="text" id="fname" name="nazwa"><br><br>
    <label for="fopis">Opis:</label>
    <textarea name="opis" id="fopis" form="dodajForm">Enter text here...</textarea><br><br>
    <label for="fdataOddania">Data:</label>
    <input type="date" id="fdataOddania" name="dataOddania"><br><br>
    <input type="submit" value="Dodaj">
</form>
</body>
</html>