<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <div th:replace="header :: myHeader"></div>
</head>
<body>
<br>
<form method="get" action="#" th:action="@{/studentList}" id="anulujForm">
    <input type="submit" value="Anuluj">
</form>
<br>

<form method="post" action="#" th:action="@{/studentDodaj}" id="dodajForm">
    <label for="fname">Imię:</label>
    <br>
    <input type="text" id="fname" name="imie"><br><br>
    <label for="fname">Nazwisko:</label><br>
    <input type="text" id="fsurname" name="nazwisko"><br><br>
    <label for="fname">Numer Indeksu:</label><br>
    <input type="number" id="fnrIndeksu" name="nrIndeksu"><br><br>
    <label for="fname">Email:</label><br>
    <input type="text" id="femail" name="email"><br><br>
    <label for="fname">Stacjonarny:</label>
    <input type="checkbox" id="fstacjonarny" name="stacjonarny"><br><br>
    <input type="submit" value="Dodaj">
</form>
</body>
</html>