<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="result"></div>
<script th:inline="javascript">
    // Check browser support
    var test = /*[[${session.studentId}]]*/ 'default'
    if (test !== 'default') {
        /*<![CDATA[*/
        // Store
        // Retrieve
        document.getElementById("result").innerHTML = test;
       // window.location.href = "/";
    } else {
        document.getElementById("result").innerHTML = "Sorry, your browser does not support Web Storage...";
    }
    /*]]>*/
</script>

</body>
</html>