<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <div th:replace="headerWykladowca :: headerWykladowca"></div>
</head>
<script th:inline="javascript">
    // Check browser support
    let id = /*[[${session.wykladowcaId}]]*/ 'default';
    let role = /*[[${session.role}]]*/ 'default';
    console.log(id)
    if (id !== 'default' || id!==null || role !=="Wykladowca") {


        /*<![CDATA[*/
        //
    } else {
        window.location.href = "/loggout";
    }
    /*]]>*/
</script>
<body>
<picture>
    <img th:src="@{images/logo.png}" class="center" width="500px" height="500px">
</picture>

</body>
</html>