<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="headerWykladowca :: headerWykladowca"></div>
</head>
<script th:inline="javascript">
    // Check browser support
    let id = /*[[${session.wykladowcaId}]]*/ 'default';
    let role = /*[[${session.role}]]*/ 'default';
    console.log(id)
    if (id !== 'default' || id!==null || role !=="Wykladowca") {


        /*<![CDATA[*/
        //
    } else {
        window.location.href = "/loggout";
    }
    /*]]>*/
</script>
<body>
<div class="root" th:with="isDelete=${#strings.equalsIgnoreCase(param.delete,'true')}">
    <!--/*@thymesVar id="zadanie" type="com.project.webapp.model.Zadanie"*/-->
    <form action="#" th:action="@{/zadaniaEdit}" th:object="${zadanie}" method="POST"
          autocomplete="off">

        <div class="err" th:if="${#fields.hasErrors('*')}">
            BŁĘDY:
            <ul>
                <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Wprowadzone dane są niepoprawne!</li>
            </ul>
        </div>
        <div class="container">

            <div th:if="*{zadanieId}">
                <label for="zadanieId" class="lbl">Id:</label>
                <input th:field="*{zadanieId}" class="fld" readonly />
            </div>
            <div>
                <label for="nazwa" class="lbl">Nazwa:</label>
                <input th:field="*{nazwa}" class="fld" th:class="${#fields.hasErrors('opis')}? 'err' : 'fld'" size="45" />
                <span class="err" th:if="${#fields.hasErrors('nazwa')}" th:errors="*{nazwa}">Error</span>
            </div>
            <div>
                <label for="opis" class="lbl">Opis:</label>
                <textarea class="fld" rows="3" cols="47" th:field="*{opis}">Opis</textarea>
            </div>
        </div>
        <input type="submit" value="Edytuj">
    </form>
</div>
</body>
</html>